@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC&family=Edu+VIC+WA+NT+Beginner:wght@500&family=Mochiy+Pop+One&display=swap');

* {

    box-sizing: border-box;

}

body {
	margin: 0;
	font-family: 'Mochiy Pop One', sans-serif;
	font-size: 15px;
    background-color: #fce043;
    background-image: linear-gradient(315deg, #fce043 0%, #fb7ba2 74%);
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    display: flex;


}

.quiz-container {

    width: 400px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.7);
    max-width: 100%;

    
}
.quiz-header {

    padding: 2rem;

}


h2 {

    padding: 1rem;
    text-align: center;
    margin:0;
}

ul li{

    margin: 0.8rem 0;
    font-size: 0.9rem;
}

ul li label {

    cursor: pointer;
}

ul  {

    list-style-type: none;
    padding: 0;

}

button {

    background-color: #fad0c4;
    width: 100%;
    border: none;
    height:3rem;
    font-family: 'Mochiy Pop One', sans-serif;
    display: block;
    cursor: pointer;
    border-radius: 0 0 10px 10px;
}


button:hover {
    background-color: #fd9de2;

}